:root[data-theme="catppuccin-light"] {
	--background: oklch(0.9578 0.0058 264.5321);
	--foreground: oklch(0.4355 0.043 279.325);
	--card: oklch(0.9335 0.0087 264.5206);
	--card-foreground: oklch(0.4355 0.043 279.325);
	--popover: oklch(0.9335 0.0087 264.5206);
	--popover-foreground: oklch(0.4355 0.043 279.325);
	--primary: oklch(0.5547 0.2503 297.0156);
	--primary-foreground: oklch(0.9578 0.0058 264.5321);
	--secondary: oklch(0.8575 0.0145 268.4756);
	--secondary-foreground: oklch(0.4355 0.043 279.325);
	--muted: oklch(0.8575 0.0145 268.4756);
	--muted-foreground: oklch(0.5471 0.0343 279.0837);
	--accent: oklch(0.8575 0.0145 268.4756);
	--accent-foreground: oklch(0.4355 0.043 279.325);
	--destructive: oklch(0.5505 0.2155 19.8095);
	--destructive-foreground: oklch(0.9578 0.0058 264.5321);
	--border: oklch(0.8083 0.0174 271.1982);
	--input: oklch(0.8083 0.0174 271.1982);
	--ring: oklch(0.5547 0.2503 297.0156);
	--chart-1: oklch(0.692 0.2041 42.4293);
	--chart-2: oklch(0.625 0.1772 140.4448);
	--chart-3: oklch(0.5586 0.2255 262.0866);
	--chart-4: oklch(0.714 0.1494 67.7767);
	--chart-5: oklch(0.7256 0.1739 338.4334);
	--sidebar: oklch(0.9335 0.0087 264.5206);
	--sidebar-foreground: oklch(0.4355 0.043 279.325);
	--sidebar-primary: oklch(0.5547 0.2503 297.0156);
	--sidebar-primary-foreground: oklch(0.9578 0.0058 264.5321);
	--sidebar-accent: oklch(0.8083 0.0174 271.1982);
	--sidebar-accent-foreground: oklch(0.4355 0.043 279.325);
	--sidebar-border: oklch(0.8083 0.0174 271.1982);
	--sidebar-ring: oklch(0.5547 0.2503 297.0156);
	--font-sans: "Inter", "Roobert", sans-serif;
	--font-serif: "New York", serif;
	--font-mono: "Fira Code", monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 10px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.1;
	--shadow-color: #000000;
	--shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm:
		0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow:
		0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md:
		0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg:
		0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl:
		0px 4px 10px 0px hsl(0 0% 0% / 0.1),
		0px 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
	--tracking-normal: -0.02em;
	--spacing: 0.25rem;
}

:root[data-theme="catppuccin-dark"] {
	--background: oklch(0.2788 0.0353 276.9368);
	--foreground: oklch(0.8708 0.0481 273.6651);
	--card: oklch(0.2493 0.0305 278.435);
	--card-foreground: oklch(0.8708 0.0481 273.6651);
	--popover: oklch(0.2493 0.0305 278.435);
	--popover-foreground: oklch(0.8708 0.0481 273.6651);
	--primary: oklch(0.7715 0.1259 303.8984);
	--primary-foreground: oklch(0.2788 0.0353 276.9368);
	--secondary: oklch(0.3538 0.0369 275.9851);
	--secondary-foreground: oklch(0.8708 0.0481 273.6651);
	--muted: oklch(0.3538 0.0369 275.9851);
	--muted-foreground: oklch(0.6905 0.0433 274.5388);
	--accent: oklch(0.3538 0.0369 275.9851);
	--accent-foreground: oklch(0.8708 0.0481 273.6651);
	--destructive: oklch(0.737 0.1252 11.1943);
	--destructive-foreground: oklch(0.2788 0.0353 276.9368);
	--border: oklch(0.4259 0.0385 276.9477);
	--input: oklch(0.4259 0.0385 276.9477);
	--ring: oklch(0.7715 0.1259 303.8984);
	--chart-1: oklch(0.7988 0.1061 49.6376);
	--chart-2: oklch(0.835 0.1079 138.1503);
	--chart-3: oklch(0.7497 0.1101 263.8103);
	--chart-4: oklch(0.879 0.0744 84.751);
	--chart-5: oklch(0.8608 0.083 336.1799);
	--sidebar: oklch(0.2493 0.0305 278.435);
	--sidebar-foreground: oklch(0.8708 0.0481 273.6651);
	--sidebar-primary: oklch(0.7715 0.1259 303.8984);
	--sidebar-primary-foreground: oklch(0.2788 0.0353 276.9368);
	--sidebar-accent: oklch(0.3538 0.0369 275.9851);
	--sidebar-accent-foreground: oklch(0.8708 0.0481 273.6651);
	--sidebar-border: oklch(0.4259 0.0385 276.9477);
	--sidebar-ring: oklch(0.7715 0.1259 303.8984);
	--font-sans: "Inter", "Roobert", sans-serif;
	--font-serif: "New York", serif;
	--font-mono: "Fira Code", monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 8px;
	--shadow-blur: 15px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.3;
	--shadow-color: #000000;
	--shadow-2xs: 0px 8px 15px 0px hsl(0 0% 0% / 0.15);
	--shadow-xs: 0px 8px 15px 0px hsl(0 0% 0% / 0.15);
	--shadow-sm:
		0px 8px 15px 0px hsl(0 0% 0% / 0.3), 0px 1px 2px -1px hsl(0 0% 0% / 0.3);
	--shadow:
		0px 8px 15px 0px hsl(0 0% 0% / 0.3), 0px 1px 2px -1px hsl(0 0% 0% / 0.3);
	--shadow-md:
		0px 8px 15px 0px hsl(0 0% 0% / 0.3), 0px 2px 4px -1px hsl(0 0% 0% / 0.3);
	--shadow-lg:
		0px 8px 15px 0px hsl(0 0% 0% / 0.3), 0px 4px 6px -1px hsl(0 0% 0% / 0.3);
	--shadow-xl:
		0px 8px 15px 0px hsl(0 0% 0% / 0.3),
		0px 8px 10px -1px hsl(0 0% 0% / 0.3);
	--shadow-2xl: 0px 8px 15px 0px hsl(0 0% 0% / 0.75);
}
