:root[data-theme="terminal-dark"] {
	--background: oklch(0 0 0);
	--foreground: oklch(0.8686 0.2776 144.4661);
	--card: oklch(0.1149 0 0);
	--card-foreground: oklch(0.8686 0.2776 144.4661);
	--popover: oklch(0 0 0);
	--popover-foreground: oklch(0.8686 0.2776 144.4661);
	--primary: oklch(0.8686 0.2776 144.4661);
	--primary-foreground: oklch(0 0 0);
	--secondary: oklch(0.3053 0.1039 142.4953);
	--secondary-foreground: oklch(0.8686 0.2776 144.4661);
	--muted: oklch(0.1887 0.0642 142.4953);
	--muted-foreground: oklch(0.5638 0.1872 143.245);
	--accent: oklch(0.8686 0.2776 144.4661);
	--accent-foreground: oklch(0 0 0);
	--destructive: oklch(0.628 0.2577 29.2339);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.3053 0.1039 142.4953);
	--input: oklch(0 0 0);
	--ring: oklch(0.8686 0.2776 144.4661);
	--chart-1: oklch(0.8686 0.2776 144.4661);
	--chart-2: oklch(0.5638 0.1872 143.245);
	--chart-3: oklch(0.3053 0.1039 142.4953);
	--chart-4: oklch(0.1179 0.0327 343.3438);
	--chart-5: oklch(0.8686 0.2776 144.4661);
	--sidebar: oklch(0.1149 0 0);
	--sidebar-foreground: oklch(0.8686 0.2776 144.4661);
	--sidebar-primary: oklch(0.8686 0.2776 144.4661);
	--sidebar-primary-foreground: oklch(0 0 0);
	--sidebar-accent: oklch(0.3053 0.1039 142.4953);
	--sidebar-accent-foreground: oklch(0.8686 0.2776 144.4661);
	--sidebar-border: oklch(0.3053 0.1039 142.4953);
	--sidebar-ring: oklch(0.8686 0.2776 144.4661);
	--font-sans: "VT323", "Courier New", monospace;
	--font-serif: Georgia, serif;
	--font-mono: "VT323", monospace;
	--radius: 0rem;
	--shadow-x: 0px;
	--shadow-y: 0px;
	--shadow-blur: 10px;
	--shadow-spread: 1px;
	--shadow-opacity: 0.2;
	--shadow-color: #00ff41;
	--shadow-2xs: 0px 0px 10px 1px hsl(135.2941 100% 50% / 0.1);
	--shadow-xs: 0px 0px 10px 1px hsl(135.2941 100% 50% / 0.1);
	--shadow-sm:
		0px 0px 10px 1px hsl(135.2941 100% 50% / 0.2),
		0px 1px 2px 0px hsl(135.2941 100% 50% / 0.2);
	--shadow:
		0px 0px 10px 1px hsl(135.2941 100% 50% / 0.2),
		0px 1px 2px 0px hsl(135.2941 100% 50% / 0.2);
	--shadow-md:
		0px 0px 10px 1px hsl(135.2941 100% 50% / 0.2),
		0px 2px 4px 0px hsl(135.2941 100% 50% / 0.2);
	--shadow-lg:
		0px 0px 10px 1px hsl(135.2941 100% 50% / 0.2),
		0px 4px 6px 0px hsl(135.2941 100% 50% / 0.2);
	--shadow-xl:
		0px 0px 10px 1px hsl(135.2941 100% 50% / 0.2),
		0px 8px 10px 0px hsl(135.2941 100% 50% / 0.2);
	--shadow-2xl: 0px 0px 10px 1px hsl(135.2941 100% 50% / 0.5);
	--tracking-normal: 0.1em;
	--spacing: 0.25rem;
}

:root[data-theme="terminal-neon-dark"] {
	--background: oklch(0 0 0);
	--foreground: oklch(0.8686 0.2776 144.4661);
	--card: oklch(0.1149 0 0);
	--card-foreground: oklch(0.8686 0.2776 144.4661);
	--popover: oklch(0 0 0);
	--popover-foreground: oklch(0.8686 0.2776 144.4661);
	--primary: oklch(0.8686 0.2776 144.4661);
	--primary-foreground: oklch(0 0 0);
	--secondary: oklch(0.3053 0.1039 142.4953);
	--secondary-foreground: oklch(0.8686 0.2776 144.4661);
	--muted: oklch(0.1887 0.0642 142.4953);
	--muted-foreground: oklch(0.5638 0.1872 143.245);
	--accent: oklch(0.8686 0.2776 144.4661);
	--accent-foreground: oklch(0 0 0);
	--destructive: oklch(0.628 0.2577 29.2339);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.3053 0.1039 142.4953);
	--input: oklch(0 0 0);
	--ring: oklch(0.8686 0.2776 144.4661);
	--chart-1: oklch(0.8686 0.2776 144.4661);
	--chart-2: oklch(0.5638 0.1872 143.245);
	--chart-3: oklch(0.3053 0.1039 142.4953);
	--chart-4: oklch(0.1179 0.0327 343.3438);
	--chart-5: oklch(0.8686 0.2776 144.4661);
	--sidebar: oklch(0.1149 0 0);
	--sidebar-foreground: oklch(0.8686 0.2776 144.4661);
	--sidebar-primary: oklch(0.8686 0.2776 144.4661);
	--sidebar-primary-foreground: oklch(0 0 0);
	--sidebar-accent: oklch(0.3053 0.1039 142.4953);
	--sidebar-accent-foreground: oklch(0.8686 0.2776 144.4661);
	--sidebar-border: oklch(0.3053 0.1039 142.4953);
	--sidebar-ring: oklch(0.8686 0.2776 144.4661);
	--font-sans: "VT323", "Courier New", monospace;
	--font-serif: Georgia, serif;
	--font-mono: "VT323", monospace;
	--radius: 0rem;
	--shadow-x: 0px;
	--shadow-y: 0px;
	--shadow-blur: 15px;
	--shadow-spread: 2px;
	--shadow-opacity: 0.4;
	--shadow-color: #00ff41;
	--shadow-2xs: 0px 0px 15px 2px hsl(135.2941 100% 50% / 0.2);
	--shadow-xs: 0px 0px 15px 2px hsl(135.2941 100% 50% / 0.2);
	--shadow-sm:
		0px 0px 15px 2px hsl(135.2941 100% 50% / 0.4),
		0px 1px 2px 1px hsl(135.2941 100% 50% / 0.4);
	--shadow:
		0px 0px 15px 2px hsl(135.2941 100% 50% / 0.4),
		0px 1px 2px 1px hsl(135.2941 100% 50% / 0.4);
	--shadow-md:
		0px 0px 15px 2px hsl(135.2941 100% 50% / 0.4),
		0px 2px 4px 1px hsl(135.2941 100% 50% / 0.4);
	--shadow-lg:
		0px 0px 15px 2px hsl(135.2941 100% 50% / 0.4),
		0px 4px 6px 1px hsl(135.2941 100% 50% / 0.4);
	--shadow-xl:
		0px 0px 15px 2px hsl(135.2941 100% 50% / 0.4),
		0px 8px 10px 1px hsl(135.2941 100% 50% / 0.4);
	--shadow-2xl: 0px 0px 15px 2px hsl(135.2941 100% 50% / 1);
}
