@theme {
	/* Breakpoints (default 1rem = 16px): 640px, 768px, 1024px, 1280px, 1536px */
	--breakpoint-sm: 40rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 64rem;
	--breakpoint-xl: 80rem;
	--breakpoint-2xl: 96rem;
}
