@theme {
	--color-neutral-50: oklch(98.5% 0 0);
	--color-neutral-100: oklch(97% 0 0);
	--color-neutral-200: oklch(92.2% 0 0);
	--color-neutral-300: oklch(87% 0 0);
	--color-neutral-400: oklch(70.8% 0 0);
	--color-neutral-500: oklch(55.6% 0 0);
	--color-neutral-600: oklch(43.9% 0 0);
	--color-neutral-700: oklch(37.1% 0 0);
	--color-neutral-800: oklch(26.9% 0 0);
	--color-neutral-900: oklch(20.5% 0 0);
	--color-neutral-950: oklch(14.5% 0 0);
}

@plugin "daisyui" {
	prefix: "d-";
}

@plugin "daisyui/theme" {
	name: "light";
	default: true;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(97% 0 0);
	--color-base-300: oklch(92% 0 0);
	--color-base-content: oklch(14.5% 0 none);
	--color-primary: oklch(58% 0.16 150);
	--color-primary-content: oklch(98.5% 0 none);
	--color-secondary: oklch(69.776% 0.135 168.327);
	--color-secondary-content: oklch(14.5% 0 none);
	--color-accent: oklch(64% 0.2 58);
	--color-accent-content: oklch(98.5% 0 none);
	--color-neutral: oklch(57% 0.013 58.071);
	--color-neutral-content: oklch(98.5% 0 none);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(14.5% 0 none);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(14.5% 0 none);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(14.5% 0 none);
	--color-error: oklch(70% 0.191 22.216);
	--color-error-content: oklch(14.5% 0 none);
	--radius-selector: 0.25rem;
	--radius-field: 0.25rem;
	--radius-box: 0.25rem;
	--size-selector: 0.28125rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: "dark";
	default: false;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: oklch(20.84% 0.008 17.911);
	--color-base-200: oklch(18.522% 0.007 17.911);
	--color-base-300: oklch(16.203% 0.007 17.911);
	--color-base-content: oklch(98.5% 0 none);
	--color-primary: oklch(58% 0.16 150);
	--color-primary-content: oklch(98.5% 0 none);
	--color-secondary: oklch(69.776% 0.135 168.327);
	--color-secondary-content: oklch(14.5% 0 none);
	--color-accent: oklch(64% 0.2 58);
	--color-accent-content: oklch(98.5% 0 none);
	--color-neutral: oklch(30% 0.007 34.298);
	--color-neutral-content: oklch(98.5% 0 none);
	--color-info: oklch(72.06% 0.191 231.6);
	--color-info-content: oklch(14.5% 0 none);
	--color-success: oklch(64.8% 0.15 160);
	--color-success-content: oklch(14.5% 0 none);
	--color-warning: oklch(84.71% 0.199 83.87);
	--color-warning-content: oklch(14.5% 0 none);
	--color-error: oklch(71.76% 0.221 22.18);
	--color-error-content: oklch(14.5% 0 none);
	--radius-selector: 0.25rem;
	--radius-field: 0.25rem;
	--radius-box: 0.25rem;
	--size-selector: 0.28125rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}
