@theme {
	--color-line-on-light: oklch(0.8 0.0024 17.2);
	--color-line-on-dark: oklch(0.5 0.0024 17.2);
	--color-subtle-on-light: oklch(0.65 0.0024 17.2);
	--color-subtle-on-dark: oklch(0.6 0.0024 17.2);
}

@plugin "daisyui" {
	prefix: "d-";
}

@plugin "daisyui/theme" {
	name: "light";
	default: true;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(93% 0 0);
	--color-base-300: oklch(86% 0 0);
	--color-base-content: oklch(27.807% 0.029 256.847);
	--color-primary: oklch(68.628% 0.185 148.958);
	--color-primary-content: oklch(14.7% 0.004 49.25);
	--color-secondary: oklch(70.628% 0.119 185.713);
	--color-secondary-content: oklch(14.7% 0.004 49.25);
	--color-accent: oklch(70.5% 0.213 47.604);
	--color-accent-content: oklch(14.7% 0.004 49.25);
	--color-neutral: oklch(27.807% 0.029 256.847);
	--color-neutral-content: oklch(100% 0 0);
	--color-info: oklch(72.06% 0.191 231.6);
	--color-info-content: oklch(14.7% 0.004 49.25);
	--color-success: oklch(64.8% 0.15 160);
	--color-success-content: oklch(14.7% 0.004 49.25);
	--color-warning: oklch(68.1% 0.162 75.834);
	--color-warning-content: oklch(14.7% 0.004 49.25);
	--color-error: oklch(71.76% 0.221 22.18);
	--color-error-content: oklch(14.7% 0.004 49.25);
	--radius-selector: 0.25rem;
	--radius-field: 0.25rem;
	--radius-box: 0.25rem;
	--size-selector: 0.28125rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: "dark";
	default: false;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: oklch(20.84% 0.008 17.911);
	--color-base-200: oklch(18.522% 0.007 17.911);
	--color-base-300: oklch(16.203% 0.007 17.911);
	--color-base-content: oklch(83.768% 0.001 17.911);
	--color-primary: oklch(68.628% 0.185 148.958);
	--color-primary-content: oklch(14.7% 0.004 49.25);
	--color-secondary: oklch(70.628% 0.119 185.713);
	--color-secondary-content: oklch(14.7% 0.004 49.25);
	--color-accent: oklch(75.98% 0.204 56.72);
	--color-accent-content: oklch(14.7% 0.004 49.25);
	--color-neutral: oklch(27.5% 0.011 216.9);
	--color-neutral-content: oklch(83.768% 0.001 17.911);
	--color-info: oklch(72.06% 0.191 231.6);
	--color-info-content: oklch(14.7% 0.004 49.25);
	--color-success: oklch(64.8% 0.15 160);
	--color-success-content: oklch(14.7% 0.004 49.25);
	--color-warning: oklch(84.71% 0.199 83.87);
	--color-warning-content: oklch(14.7% 0.004 49.25);
	--color-error: oklch(71.76% 0.221 22.18);
	--color-error-content: oklch(14.7% 0.004 49.25);
	--radius-selector: 0.25rem;
	--radius-field: 0.25rem;
	--radius-box: 0.25rem;
	--size-selector: 0.28125rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}
